[submodule "Makeblock-Libraries"]
	path = Makeblock-Libraries
	url = https://github.com/Makeblock-official/Makeblock-Libraries
[submodule "ev3dev-lang-cpp"]
	path = ev3dev-lang-cpp
	url = https://github.com/ddemidov/ev3dev-lang-cpp
